In [ ]:
# pwd

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.6/dist-packages (2.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.2.2)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.30.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.10.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.3.3)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.18.5)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (2.2.0)
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.4.1)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.34.2)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.2.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.12.2)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.9.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (0.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (1.17.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (49.1.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow) (1.7.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow) (1.7.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow) (1.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow) (0.2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow) (3.1.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow) (0.4.8)

Importing the libraries

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
# loan_data = pd.read_csv("/Users/mahdiafkhami/Desktop/Purdue/Spring2019/MGMT/Project/RejectStats_2018Q1.csv", skiprows=1, low_memory=False)

In [ ]:
# print(loan_data)

In [ ]:
# loan_data.shape

In [ ]:
# loan_data.columns

In [ ]:
# dd= app.rename_axis('States').reset_index(name='Applications')
# print (dd)

In [ ]:
# gb = df.groupby("State")

In [ ]:
# gb.sum()

In [3]:
Grade = pd.read_csv("/content/LoanStats_2018Q1.csv", skiprows=1, low_memory=False)

In [4]:
Grade.shape

(107866, 145)

In [5]:
Grade.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [6]:
Grade = Grade[["loan_amnt","term", "int_rate","emp_length","annual_inc","loan_status","application_type","home_ownership","grade"]]

In [7]:
Grade.head()

   loan_amnt        term int_rate  ... application_type  home_ownership grade
0    30000.0   36 months    7.34%  ...       Individual             OWN     A
1    34825.0   60 months   12.61%  ...       Individual        MORTGAGE     C
2     2600.0   36 months    7.96%  ...       Individual        MORTGAGE     A
3    20000.0   60 months    9.92%  ...       Individual        MORTGAGE     B
4    17000.0   60 months   20.39%  ...       Individual            RENT     D

[5 rows x 9 columns]

In [8]:
st1= Grade.grade == "A"
st2 = Grade.grade == "B"
index = np.where(st1+st2)

/usr/local/lib/python3.6/dist-packages/pandas/core/computation/expressions.py:178: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "

In [9]:
Grade['eligible']=np.zeros(st1.shape,st1.dtype)

In [10]:
Grade['eligible'][st1|st2]= 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# Grade['eligible']

In [11]:
Grade.head()

   loan_amnt        term int_rate  ... home_ownership  grade eligible
0    30000.0   36 months    7.34%  ...            OWN      A      1.0
1    34825.0   60 months   12.61%  ...       MORTGAGE      C      0.0
2     2600.0   36 months    7.96%  ...       MORTGAGE      A      1.0
3    20000.0   60 months    9.92%  ...       MORTGAGE      B      1.0
4    17000.0   60 months   20.39%  ...           RENT      D      0.0

[5 rows x 10 columns]

In [12]:
Grade["emp_length"] = Grade["emp_length"].str.strip(' < ')#s.str.rstrip('.!? \n\t')
Grade["emp_length"] = Grade["emp_length"].str.strip('year')#s.str.rstrip('.!? \n\t')
Grade["emp_length"] = Grade["emp_length"].str.strip('years')#s.str.rstrip('.!? \n\t')
Grade["term"] = Grade["term"].str.strip('months')
# Grade["emp_length"] = Grade["emp_length"].str.strip('+')
Grade["int_rate"] = Grade["int_rate"].str.strip('%')

In [13]:
Grade["emp_length"] = Grade["emp_length"].str[0:2]

In [14]:
Grade["emp_length"] = Grade["emp_length"].astype('float64')

In [15]:
Grade.head()

   loan_amnt  term int_rate  ...  home_ownership  grade eligible
0    30000.0   36      7.34  ...             OWN      A      1.0
1    34825.0   60     12.61  ...        MORTGAGE      C      0.0
2     2600.0   36      7.96  ...        MORTGAGE      A      1.0
3    20000.0   60      9.92  ...        MORTGAGE      B      1.0
4    17000.0   60     20.39  ...            RENT      D      0.0

[5 rows x 10 columns]

In [16]:
nan_df = Grade[Grade.isna().any(axis =1)]
nan_df.head()

    loan_amnt  term int_rate  ...  home_ownership  grade eligible
6     20000.0   36     10.41  ...        MORTGAGE      B      1.0
30    24000.0   36     21.85  ...            RENT      D      0.0
36    35000.0   60     24.84  ...        MORTGAGE      E      0.0
43    15000.0   36     14.07  ...        MORTGAGE      C      0.0
44    10000.0   36      5.31  ...            RENT      A      1.0

[5 rows x 10 columns]

In [17]:
Grade = Grade.dropna(how = "all")
Grade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107866 entries, 0 to 107865
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   loan_amnt         107864 non-null  float64
 1   term              107864 non-null  object
 2   int_rate          107864 non-null  object
 3   emp_length        98436 non-null   float64
 4   annual_inc        107864 non-null  float64
 5   loan_status       107864 non-null  object
 6   application_type  107864 non-null  object
 7   home_ownership    107864 non-null  object
 8   grade             107864 non-null  object
 9   eligible          107866 non-null  float64
dtypes: float64(4), object(6)
memory usage: 9.1+ MB

In [18]:
null_v = Grade.isnull().sum()
print(null_v)

loan_amnt              2
term                   2
int_rate               2
emp_length          9430
annual_inc             2
loan_status            2
application_type       2
home_ownership         2
grade                  2
eligible               0
dtype: int64

In [ ]:
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
# imputer = imputer.fit(Grade.emp_length)
# Grade.emp_length = imputer.transform(Grade.emp_length)

In [19]:
Grade = Grade.dropna(how = "any")
Grade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98436 entries, 0 to 107863
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_amnt         98436 non-null  float64
 1   term              98436 non-null  object
 2   int_rate          98436 non-null  object
 3   emp_length        98436 non-null  float64
 4   annual_inc        98436 non-null  float64
 5   loan_status       98436 non-null  object
 6   application_type  98436 non-null  object
 7   home_ownership    98436 non-null  object
 8   grade             98436 non-null  object
 9   eligible          98436 non-null  float64
dtypes: float64(4), object(6)
memory usage: 8.3+ MB

In [20]:
null_v = Grade.isnull().sum()
print(null_v)

loan_amnt           0
term                0
int_rate            0
emp_length          0
annual_inc          0
loan_status         0
application_type    0
home_ownership      0
grade               0
eligible            0
dtype: int64

In [21]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [22]:
Grade.loan_status=le.fit_transform(Grade.loan_status)
Grade.application_type=le.fit_transform(Grade.application_type)
Grade.home_ownership = le.fit_transform(Grade.home_ownership)

In [23]:
Grade.head()

   loan_amnt  term int_rate  ...  home_ownership  grade  eligible
0    30000.0   36      7.34  ...               2      A       1.0
1    34825.0   60     12.61  ...               1      C       0.0
2     2600.0   36      7.96  ...               1      A       1.0
3    20000.0   60      9.92  ...               1      B       1.0
4    17000.0   60     20.39  ...               3      D       0.0

[5 rows x 10 columns]

In [ ]:
#onrhotencoder >> create dummy variable [ number does'nt mean higher or lower]

In [24]:
X = Grade.iloc[:,:-2].values

In [25]:
Y = Grade.iloc[:,-1].values

In [ ]:
# # Encoding categorical data
# # Encoding the Independent Variable
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# labelencoder_X = LabelEncoder()
# Grade.loan_status = labelencoder_X.fit_transform(Grade.loan_status)
# Grade.application_type = labelencoder_X.fit_transform(Grade.application_type)
# Grade.home_ownership = labelencoder_X.fit_transform(Grade.home_ownership)
# onehotencoder = OneHotEncoder(categorical_features = [5])
# X = onehotencoder.fit_transform(X).toarray()

In [26]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# MAKING ANN

In [28]:
#import keras
import keras

Using TensorFlow backend.

In [29]:
from keras.models import Sequential
# to create layers
from keras.layers import Dense

In [32]:
#Initializing ANN
classifier = Sequential()

In [33]:
# Adding the First Hidden layer and Input Layer
    # input_dim = # of inputs
    # output_dim = # hidden layers
    #init = Gradient desccent, randomly initialize weight close to zero
classifier.add(Dense(output_dim = 5, init = "uniform", activation = "relu", input_dim = 8))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=8, units=5, kernel_initializer="uniform")`
  """

In [34]:
# second hidden layer
classifier.add(Dense(output_dim = 5, init = "uniform", activation = "relu"))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=5, kernel_initializer="uniform")`

In [35]:
#creating the output layer
#output_dim = node in output layer
classifier.add(Dense(output_dim = 1, init = "uniform", activation = "sigmoid"))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
#compiling the ANN model - Applying stochastic gradient descent on the whole model
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [39]:
# fit ANN to training set
classifier.fit(X_train, Y_train, batch_size = 10, nb_epoch = 100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0476 - accuracy: 0.9907
Epoch 2/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0034 - accuracy: 0.9998
Epoch 3/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0030 - accuracy: 0.9997
Epoch 4/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0024 - accuracy: 0.9998
Epoch 5/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0020 - accuracy: 0.9998
Epoch 6/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0017 - accuracy: 0.9998
Epoch 7/100
78748/78748 [==============================] - 9s 113us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 8/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0013 - accuracy: 0.9998
Epoch 9/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 10/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 11/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0015 - accuracy: 0.9998
Epoch 12/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 13/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 14/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 15/100
78748/78748 [==============================] - 10s 129us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 16/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0016 - accuracy: 0.9998
Epoch 17/100
78748/78748 [==============================] - 9s 113us/step - loss: 0.0017 - accuracy: 0.9998
Epoch 18/100
78748/78748 [==============================] - 9s 111us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 19/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 20/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 21/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0016 - accuracy: 0.9998
Epoch 22/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 23/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 24/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 25/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 26/100
78748/78748 [==============================] - 9s 115us/step - loss: 0.0017 - accuracy: 0.9998
Epoch 27/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 28/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 29/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 30/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 31/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 32/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 33/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 34/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 35/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 36/100
78748/78748 [==============================] - 9s 112us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 37/100
78748/78748 [==============================] - 8s 101us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 38/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0016 - accuracy: 0.9998
Epoch 39/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 40/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 41/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 42/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 43/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 44/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 45/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 46/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 47/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 48/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 49/100
78748/78748 [==============================] - 9s 109us/step - loss: 9.7752e-04 - accuracy: 0.9998
Epoch 50/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 51/100
78748/78748 [==============================] - 9s 119us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 52/100
78748/78748 [==============================] - 9s 121us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 53/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 54/100
78748/78748 [==============================] - 9s 117us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 55/100
78748/78748 [==============================] - 9s 114us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 56/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 57/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 58/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 59/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 60/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 61/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 62/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 63/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 64/100
78748/78748 [==============================] - 9s 112us/step - loss: 0.0013 - accuracy: 0.9998
Epoch 65/100
78748/78748 [==============================] - 9s 113us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 66/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 67/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 68/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 69/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 70/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 71/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 72/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 73/100
78748/78748 [==============================] - 9s 114us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 74/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 75/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 76/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 77/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0013 - accuracy: 0.9998
Epoch 78/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 79/100
78748/78748 [==============================] - 9s 110us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 80/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0012 - accuracy: 0.9998
Epoch 81/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 82/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 83/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 84/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 85/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 86/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 87/100
78748/78748 [==============================] - 9s 116us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 88/100
78748/78748 [==============================] - 9s 115us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 89/100
78748/78748 [==============================] - 9s 111us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 90/100
78748/78748 [==============================] - 9s 112us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 91/100
78748/78748 [==============================] - 9s 111us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 92/100
78748/78748 [==============================] - 8s 107us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 93/100
78748/78748 [==============================] - 9s 108us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 94/100
78748/78748 [==============================] - 8s 108us/step - loss: 0.0014 - accuracy: 0.9998
Epoch 95/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 96/100
78748/78748 [==============================] - 8s 105us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 97/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 98/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0011 - accuracy: 0.9998
Epoch 99/100
78748/78748 [==============================] - 9s 109us/step - loss: 0.0010 - accuracy: 0.9998
Epoch 100/100
78748/78748 [==============================] - 8s 106us/step - loss: 0.0010 - accuracy: 0.9998

In [42]:
# predicting the test set results, returns probability
Y_pred = classifier.predict(X_test)

In [43]:
# threshold of what is T, What is F
Y_pred = (Y_pred > 0.5)

In [44]:
# validate, need in forms of T/F
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
# accuracy on the data that the model has not seen

In [45]:
cm

array([[ 8880,     2],
       [    0, 10806]])